parameters:
  level: 1
  bootstrapFiles:
    - phpstan-constants.php
  fileExtensions:
    - php
    - html
    - ""
  paths:
    - bin/slowfoot
    - src
   # - tests
  excludePaths:
    - src/_main/preview.php
    - src/_main/cli.php
    - src/_main/wss.php
    - src/commands/wmdev.php 
    - src/hot-reload/ 
    - src/_removed_boot.php
  scanFiles:
    - bin/slowfoot
  #scanDirectories:
  #  - vendor/cwmoss/xorclib
  #universalObjectCratesClasses:
  #  - Xorcstore_AR
  #  - kunde
